@charset "utf-8";


/*-----------------------------------------------
1.commmon
-----------------------------------------------*/
html {
	scroll-behavior: smooth;
}

body {
	margin: 0 auto;
	padding: 0;
  font-size: 16px;
	color: #666;
	font-family: "游ゴシック体", "Noto Sans CJK JP", "Noto Sans" , sans-serif;
  line-height: 1.3;
	letter-spacing: 0.08em;
}

header, main, footer {
	margin: 0 auto;
	padding: 0;
}

ul li {
	list-style-type: none;
}

ul {
	width: 100%;
}

dt, dd {
	word-wrap: break-word;
}

dt {
	font-weight: bold;
}

img {
	 max-width: 100%;
}

a {
	text-decoration: none;
	transition: all .3s;
}

small {
	color: #777;
}

section {
	width: 100%;
	position: relative;
}

/*box*/
.inner {
	max-width: 960px;
	margin: 0 auto;
	padding: 100px 40px;
}

.flex-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.text-inner {
	text-align: left;
	margin: 30px 0 0 0;
}

/*headline*/
h1,h2,h3,h4 {
	width: 100%;
	max-width: 960px;
	margin: 1.5em 0;
	font-family: "Avenir","Helvetica Neue","Helvetica","Arial","Hiragino Sans","ヒラギノ角ゴシック",YuGothic,"Yu Gothic","メイリオ", Meiryo,"ＭＳ Ｐゴシック","MS PGothic"; 
}

.headline {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	position: relative;
	font-size: 40px;
	text-align: center;
	letter-spacing: 0.1em;
	color: #dfac44;
}

.headline::after {
	position: absolute;
	bottom: -70%;
	left: 48%;
	content: 'ー';
	color: #f7b52c;
}

h3 {
	margin: 2em 0 1em;
	padding: 0 0 0 3%;
	border-left: 2px solid #595757;
	box-sizing: border-box;
	font-size: 24px;
	font-family: "Asap", YuGothic, "游ゴシック", "ＭＳ Ｐゴシック", "MS P Gothic", "MS-PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, arial, helvetica, clean, sans-serif;
	/*font-family: 'Lato-Italic', sans-serif;*/
}

h4 {
	font-size: 16px;
}

h5 {
	font-size: 14px;
}

/*button*/
.detail-btn {
	width: 160px;
	margin: 50px auto;
	padding: 10px 20px;
	display: block;
	position: relative;
	border: 1px solid #333;
	text-align: center;
	color: #333;
}

.detail-btn:hover {
	background: #dfac44;
	color: #fff;
	cursor: pointer;
	text-decoration: none;
	border: 1px solid #dfac44;
}

.detail-btn::after {
	position: absolute;
	top:50%;
	right: 3%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	content: "→";
	color: #333;
}

.detail-btn:hover::after {
	color: #fff;
	transition: all .3s;
}

/*ページ上部へ戻るボタン*/
 .page-top {
	width: 40px;
	height: 40px;
	margin: 3% auto 0;
	display: block;
	position: relative;
  /*right: 50%;
  bottom: 50px;*/
  background-color: #dfac44;
	opacity: 0.7;
  border-radius: 50%;
	z-index: 10;
	color: #FFF;
	font-size: 16px;
	font-weight: bold;
}

.page-top-icon {
	position: absolute;
	top: 50%;
  left: 50%;
	font-size: 16px;
	font-weight: bold;
  transform: translate(-50%,-50%);
	color: #FFF;
}

/*PC,SP表示・非表示*/
.pc-open {
	display: block;
}

.pc-sp-none,
.sp-open {
	display: none;
}

/*-----------------------------------------------
2.header
-----------------------------------------------*/
/*navigation*/
.header-wrap {
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0;
	z-index: 999;
	background: linear-gradient(45deg, rgba(239,222,181,0.8), rgba(232,162,173,0.8));
}

.header-wrap .inner {
	padding: 20px;
}

.pc-nav {
	max-width: 100%;
	display: block;
}

.pc-nav a {
	position: relative;
  display: inline-block;
  text-decoration: none;
	color: #fff;
}

.pc-nav a::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #fff;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}

.pc-nav a:hover::after {
  transform: scale(1, 1);
}

/*breadcrumb*/
.breadcrumb {
  width: 100%;
  margin: 0 auto 60px;
}

.breadcrumb ol {
  max-width: 100%;
  margin: 0 auto;
  text-align: left;
}

.breadcrumb ol li {
  position: relative;
  display: inline-block;
  padding: 5px 13px 0 0;
  font-size: 12px;
  letter-spacing: 0.05em;
}

.bread-link {
	text-decoration: underline;
	color: #333;
	font-size: 12px;
  	letter-spacing: 0.05em;
}

.breadcrumb ol li::after {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  content: "\f105";
  font-weight: 900;
  top: 5px;
  right: -2px;
  font-size: 15px;
  color: #aaa;
}

.breadcrumb ol li:last-child::after {
	display: none;
}

.breadcrumb:last-child {
	padding-top: 30px;
}

/*-----------------------------------------------
3.footer
-----------------------------------------------*/
footer {
	padding: 10px;
	background: linear-gradient(45deg, rgba(239,222,181,0.8), rgba(232,162,173,0.8));
	/*background: #f7b52c;*/
}

footer p {
	color: #fff;
	text-align: center;
	font-weight: bold;
}
/*-----------------------------------------------
4.main-visual
-----------------------------------------------*/
.main-visual {
	width: 100%;
	height: 100vh;
	position: relative;
	background: url(../img/main-visual.jpg) no-repeat;
	background-position: center center;
	background-size: cover;
	overflow: hidden;
}

.main-visual p {
	width: 100%;
	margin: 0 auto;
	position: absolute;
	text-align: center;
	color: #fff;
}

.main-visual p:first-child {
	top: 50%;
	left: 0;
	font-size: 72px;
	letter-spacing: 0.2em;
	text-shadow: 2px 2px 3px #777;
}

.main-visual p:nth-child(2) {
	top: 62%;
	left: 0%;
	font-size: 32px;
	text-align: center;
	letter-spacing: 0.6em;
}

.scroll-down {
	width: 100px;
	height: 40px;
	margin: auto;
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 60px;
	text-align: center;
	z-index: 2;
}

.scroll-down::after {
	content: "";
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
	display: inline-block;
	width: 27px;
	height: 27px;
	transform: rotate(45deg);
	transition: ease .3s;
	/*content: '\531';
	font-family: "Font Awesome 5 Free";
	font-weight: 900;*/
}

.scroll-down:hover::after {
	margin: 4px 0 0 0;
}

/*-----------------------------------------------
	5.main-contents
-----------------------------------------------*/
/*about me*/
.about-area {
	margin: 0;
	background: #fff;
	position: relative;
}

.about-area .img-box,
.about-area .text-box {
	width: 47%;
}

.about-area dl {
	width: 100%;
	margin: 0 0 40px 0;
	padding: 5px;
	max-width: 960px;
	box-sizing: border-box;
}

.about-area dt {
	width: 20%;
	padding: 5px 0;
	text-align: left;
	color: #dfac44;
}

.about-area dd {
	width: 80%;
	padding: 5px 0;
	text-align: left;
}

/*carrer*/
.timeline-list {
	margin: 0 0 40px;
}

.timeline-list > li {
	overflow: hidden;
	margin: 0;
	position: relative;
}

.timeline-date {
	width: 130px;
	margin: 20px 0 0 0;
	padding: 0 20px 0 0;
	float: left;
}


.timeline-detail {
	width: 75%;
	padding: 0 0 0 30px;
	float: left;
	border-left: 3px solid #e5e5d1;
}

.timeline-detail::before {
  content: '';
  width: 12px;
  height: 12px;
  background: #f7b52c;
  position: absolute;
  left: 146px;
  top: 24px;
	border-radius: 100%;
}

.timeline-detail h4 {
	margin-bottom: 0.5em;
	color: #dfac44;
}

/*goal*/
.ideal-area {
	position: relative;
	background: #f6eee3;
	padding: 0;
	margin: 0 auto;
}

.ideal-area::before {
	content: "";
  position: absolute;
  right: 0;
  top: 0;
	left: -2%;
  width: 0px;
  height: 0px;
  margin: auto;
  border-style: solid;
	border-color: #fff transparent transparent transparent;
	border-width: 30px 30px 0 30px;
	z-index: 3;
}

.ideal-area h3 {
	border: none;
	padding: 0;
	font-family: 'Noto Sans JP', sans-serif;
	font-weight: bold;
	font-size: 56px;
	text-align: center;
	letter-spacing: 0.2em;
	color: #fff;
	text-shadow: 1px 1px 0 #f7b52c,
						 	-1px 1px 0 #dbdbdb,
							 1px -1px 0 #dbdbdb,
			 	-1px -1px 0 #dbdbdb;
}

.ideal-area .flex-box {
	max-width: 960px;
	padding: 0 40px;
	margin: 0 auto;
	text-align: center;
}

.ideal-area .flex-box p {
	margin:0  0 10px 0;
	text-align: left;
	font-family: "FOT-筑紫A丸ゴシック Std M", "TsukuARdGothicStd-M", "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
}

.ideal-area .flex-box p:nth-of-type(2) {
	font-size: 18px;
}

.ideal-area .img-box,
.ideal-area .text-box {
	width: 47%;
	max-width: 100%;
}

.ideal-area .befief::before,
.ideal-area .berief::after {
	content: "";
	width: 20px;
	height: 30px;
	position: absolute;
	display: inline-block;
}

.ideal-area .befief::after {
	border-top: solid 1px #daa520;
	border-left: solid 1px #daa520;
  top: 0;
  left: 0;
}

.chatch {
	margin: 20px 0;
	font-size: 24px;
	font-family: 'Kosugi Maru', sans-serif;
}

.ideal-area .flex-box img {
	margin: 0;
}

.berief {
	width: 100%;
	padding: 0 0 30px 0;
	box-sizing: border-box;
}

.berief li {
	width: 100%;
	padding: 0 0 20px 0px;
	display: block;
	text-align: left;
	color: #dfac44;
}

/*skills*/
.skill-area ul {
	margin: 60px auto 80px;
	text-align: center;
}

.skill-area h4 {
	color: #dfac44;
}

.under-title {
	font-weight: lighter;
	font-size: 13px;
}

.skill-area h5 {
	margin: 20px 0 0 0;
}

.skill-area ul li {
	width: 25%;
	height: 400px;
	padding: 30px;
	border: #dbdbdb 1px solid;
	box-shadow: 2px 2px #dbdbdb;
}

.skill-area .img-box,
.skill-area .text-box {
	width: 100%;
}

.skill-img {
	width: 70%;
	margin: 10px auto 30px;
	background: #fff;
	border-radius: 50%;
}

.skill-area img {
	height: 145px;
}

.skill-area p {
	text-align: left;
}

.skill-area .text-inner p {
	margin: 0 0 10px;
	text-align: left;
}

.text-inner span {
	font-size: 13px;
	color: #dfac44;
}

/*works*/
.top-works-area {
	margin-bottom: 0;
	background: #eee;
}

.top-works-area .inner small {
	display: block;
	text-align: right;
}

.top-works-area .works-wrap {
	align-items: center;
}

.top-works-area .flex-box li{
	width: 48%;
	position: relative;
}

.top-works-area .flex-box img {
	box-shadow: 0 0 8px #aaa;
	cursor: pointer;
}

.top-works-area .flex-box p {
	margin: 10px 0;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}

/*.top-works-area .flex-box p::before {
	content:'▲';
	position: absolute;
	bottom: 2.5%;
	left: 26%;
	color: #dfac44;
}*/

.top-works-area a {
	color: #666;
}

.top-works-area ul li a:hover {
	opacity: 0.6;
}


/*-----------------------------------------------
6.under-contents -works-
-----------------------------------------------*/
/*common*/
.img-area {
	width: 100%;
	text-align: center;
	margin: 0 auto;
}

.description-area {
	width: 100%;
	margin: 0 aut0;
}

.capture-area {
	width: 100%;
	margin: 10% auto 0;
}

.pagenation-area {
	width: 100%;
	margin: 1% auto;
	position: relative;
}

.pagenation-area a {
	padding: 0 10px 0;
}

.pagenation_before::before {
	position: absolute;
	top: 10%;
	left: 0;
	content: "\f0d9"; /*traiangle*/
	font-family:"Font Awesome 5 free";
	font-weight: 900;
}

.pagenation_after::before {
	position: absolute;
	top: 10%;
	right: 0;
	content: "\f0da"; /*traiangle*/
	font-family:"Font Awesome 5 free";
	font-weight: 900;
}

/*table*/
.table-layout {
	width: 100%;
	margin: 5% auto 0;
}

.table-layout th,
.table-layout td {
	padding: 20px 0;
	text-align: left;
}

.table-layout th {
	width: 25%;
	border-top: solid 1px #daa520;
	border-bottom: solid 1px #daa520;
	text-align: center;
}

.table-layout td {
	width: 75%;
	padding: 20px 0 20px 30px;
	border-top: solid 1px #eee;
	border-bottom: solid 1px #eee;
}

.table-layout a {
	text-decoration: underline;
	display: inline-block;
}
.table-layout td .fa-external-link-alt {
	display: inline-block;
	margin-left: 5px;
}

/*works-top*/
.web-area, .dtp-area {
	width: 100%;
	margin: 15% auto;
}
.web-area .flex-box li,
.dtp-area .flex-box li {
	max-width: 48%;
	margin: auto;
	position: relative;
}

.web-area h2,
.dtp-area h2 {
	text-align: center;
	font-size: 24px
}

.web-area .flex-box img,
.dtp-area .flex-box img {
	box-shadow: 0 0 8px #aaa;
}

.web-area .flex-box p,
.dtp-area .flex-box p  {
	margin: 3% 0;
	text-align: center;
}

/*.web-area .flex-box li p::before,
.dtp-area .flex-box li p::before {
	content:'▲';
	position: absolute;
	bottom: 23%;
	left: 22%;
	color: #dfac44;
}*/

.web-area a,
.dtp-area a  {
	color: #666;
}

.web-area .flex-box a:hover
.dtp-area .flex-box a:hover {
	opacity: 0.6;
}

.works-area p a {
	color: #dfac44;
	text-decoration: underline;
}

.works-area .detail-btn {
	margin: 30px auto 20px;
}

/*works-01-*/
.works-area h1 {
	margin: 5% auto;
	text-align: center;
	font-size: 30px;
}

.works-area h1 + p {
	text-align: center;
}


/*-----------------------------------------------
7.media Queries
-----------------------------------------------*/
@media (min-width: 671px) and (max-width: 810px) {
	/*carrer*/
	.timeline-detail::before {
		display: none;
	}

	.timeline-date {
		padding: 0 0 0 4%;
		border-left: 3px solid #e5e5d1;
	}

	/*skill*/
	.skill-area ul li {
		width: 100%;
    height: auto;
    margin-bottom: 30px;
    padding: 30px 7px;
    border: #dbdbdb 1px solid;
    box-shadow: 2px 2px #dbdbdb;
	}

	.skill-area div.flex-box {
		flex-wrap: nowrap;
	}

	/*works*/
	.top-works-area .flex-box p::before {
		bottom: 4%;
		left: 20%;
	}
}

@media (min-width: 810px) and (max-width: 960px) {
	/*skill*/
	.skill-area ul li {
		width: 100%;
    height: auto;
    margin-bottom: 30px;
    padding: 30px 7px;
    border: #dbdbdb 1px solid;
    box-shadow: 2px 2px #dbdbdb;
	}

	.skill-area div.flex-box {
		flex-wrap: nowrap;
	}

	/*works*/
	/*.top-works-area .flex-box p::before {
			bottom: 4%;
			left: 20%;
	}*/
}

/*-----------------------------------------------
8.JavaScript-object
-----------------------------------------------*/
.js-fadein-up {
	opacity: 0;
	transform: translateY(20px);
	transition: 1s;
}